[mysql]
# InnoDB settings
innodb_buffer_pool_size = 4G
innodb_log_file_size = 4G
innodb_log_buffer_size = 128M
innodb_flush_method = O_DSYNC

# Connection settings
max_connections = 100

# Logging
log_error = /var/lib/mysql/mysql_error.log

[mysqldump]
# Variable reference
quick
quote_names
max_allowed_packet              = 1024M
